In [69]:
# se importan las librerias a utilizar en el proceso de ETL
import pandas as pd
import numpy as np

In [70]:
# Se carga en la variable df_movies utilizando pandas, la informacion contenida en el archivo movies_dataset.csv
df_movies = pd.read_csv('./Dataset/movies_dataset.csv',delimiter=',')

# Muestro la primera fila del dataframe df_movies
df_movies.head(1)

C:\Users\guill\AppData\Local\Temp\ipykernel_1176\3884198327.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('./Dataset/movies_dataset.csv',delimiter=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [33]:
# Utilizo la funcion isnull() para detectar valores vacios y luego la funcion sum() para sumar la cantidad de valores vacios segun la columna.
df_movies.isnull().sum()

belongs_to_collection        0
budget                       0
genres                       0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
release_year                 0
return                       0
dtype: int64

In [19]:
df_movies.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [53]:
# Consulto el tipo de dato de cada columna.
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 2 to 469172
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45376 non-null  object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   original_language      45365 non-null  object
 4   overview               44435 non-null  object
 5   popularity             45376 non-null  float64
 6   production_companies   45376 non-null  object
 7   production_countries   45376 non-null  object
 8   release_date           45376 non-null  datetime64[ns]
 9   revenue                45376 non-null  float64
 10  runtime                45130 non-null  float64
 11  spoken_languages       45376 non-null  object
 12  status                 45296 non-null  object
 13  tagline                20398 non-null  object
 14  title                  45376 non-null  object
 15  vote_average           45376 non-null  float64
 16  vote_count             45376 non-null  float64
 17  release_year           45376 non-null  int64
 18  return                 45376 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(10)
memory usage: 6.9+ MB

CAMBIOS OBLIGATORIOS

In [71]:
# Se crea una variable del tipo lista llamada 'columns' en la cual se carga los nombres de las columnas a tratar en el siguente codigo.
columns = ['revenue','budget']
# se utiliza la funcion fillna() para reemplazar los valores nulos por el numero entero 0.
df_movies[columns] = df_movies[columns].fillna(0)

#df_movies['release_date'] = df_movies['release_date'].fillna('no_release_date')
df_movies.dropna(subset=['release_date'], inplace=True)

enteros = ['1','12','22']
for a in enteros:
    df_movies = df_movies.drop(df_movies[df_movies['release_date'] == a].index)

df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d')

df_movies['release_year'] = df_movies['release_date'].dt.year

list_convert = ['revenue','budget']
df_movies[list_convert] = df_movies[list_convert].astype(float)

df_movies['return'] = np.where((df_movies['revenue'] != 0) & (df_movies['budget'] != 0), df_movies['revenue'] / df_movies['budget'], 0)

df_movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage'],axis=1,inplace=True)

In [72]:
df_movies.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000

***

CONVERSION DE TIPO DE VARIABLES

In [73]:
df_movies[['popularity']] = df_movies[['popularity']].astype(float)
df_movies['id'] = df_movies['id'].astype(int)

In [74]:

# creo un ciclo for que conprueba si los primeros valores de cada columna son del tipo string
columnas_texto = []
for columna in df_movies.columns:
    if isinstance(df_movies[columna][0], str):
        columnas_texto.append(columna)

# Muestra la lista con los nombres de las columnas que contienen 
print(columnas_texto)

# Analizo las columnas y sis valores
df_movies[columnas_texto].head(2)

['belongs_to_collection', 'genres', 'original_language', 'overview', 'production_companies', 'production_countries', 'spoken_languages', 'status', 'title']

,belongs_to_collection,genres,original_language,overview,production_companies,production_countries,spoken_languages,status,title
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji

Se observan en cada valor de algunas columnas que ahi esctructuras de listas de diccioonarios pero almacenadas como texto
Se procede a convertir los valores al tipo de dato correcto para por utilizar de mejor forma la informacion

In [75]:
lista_columnas_texto = ['belongs_to_collection','genres','production_companies','production_countries','spoken_languages']

In [76]:
# Funcion que utiliza a su vez la funcion eval()
def convert_to_dicc(text):
    return eval(text)

for a in lista_columnas_texto:
    df_movies[a] = df_movies[a].fillna('0')
    df_movies[a] = df_movies[a].apply(convert_to_dicc)

In [77]:
# creo un ciclo for que comprueba si los primeros valores de cada columna son del tipo list
columnas = []
for columna in df_movies.columns:
    primer_valor = df_movies[columna][0]
    if type(primer_valor) == list or type(primer_valor) == dict:
        columnas.append(columna)

# Muestra la lista con los nombres de las columnas que contienen 
print(columnas)
df_movies[columnas].head(2)

['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}]"
1,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso..."

In [78]:
def extract_name(list_dict):
    if type(list_dict) == list and len(list_dict) > 0:
        list_temp = []
        for dicc in list_dict:
            list_temp.append(dicc['name'])
        return list_temp
    if type(list_dict) == dict:
        return list_dict['name']
    else:
        return 0
    
for column in lista_columnas_texto:
    df_movies[column] = df_movies[column].apply(extract_name)

df_movies[lista_columnas_texto].head()

,belongs_to_collection,genres,production_companies,production_countries,spoken_languages
0,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English]
1,0,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English]
3,0,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English]
4,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English]

In [79]:
# Establesco la columna id como indice antes cambiandole el nombre a 'IdMovie'
columna_id = df_movies['id']
df_movies.drop('id',inplace=True,axis=1)
df_movies.insert(0, 'IdMovie', columna_id)
df_movies = df_movies.sort_values('IdMovie')
df_movies = df_movies.set_index('IdMovie')

***

In [118]:
df_credits = pd.read_csv('./Dataset/credits.csv',delimiter=',')
df_credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [119]:
# creo un ciclo for que conprueba si los primeros valores de cada columna son del tipo string
columnas_texto = []
for columna in df_credits.columns:
    primer_valor = df_credits[columna][0]
    if isinstance(primer_valor, str):
        columnas_texto.append(columna)

# Muestra la lista con los nombres de las columnas que contienen 
print(columnas_texto)

['cast', 'crew']

In [121]:
# Funcion que utiliza a su vez la funcion eval()
def convert_to_dicc(text):
    return eval(text)

for a in columnas_texto:
    df_credits[a] = df_credits[a].fillna('0')
    df_credits[a] = df_credits[a].apply(convert_to_dicc)

TypeError: eval() arg 1 must be a string, bytes or code object

In [123]:
def reductor_dicc(lista):
    if type(lista) == list and len(lista) > 0:
        keys = list(lista[0].keys())
        dicc_temp = {}
        for key in keys:
            dicc_temp[key] = []
    
        for dicc in lista:
            for key in keys:
                dicc_temp[key].append(dicc[key])
        return dicc_temp
    else:
        return 0

In [124]:
for a in ['cast','crew']:
    df_credits[a] = df_credits[a].apply(reductor_dicc)

In [125]:
df_credits

,cast,crew,id
0,"{'cast_id': [14, 15, 16, 17, 18, 19, 20, 26, 2...","{'credit_id': ['52fe4284c3a36847f8024f49', '52...",862
1,"{'cast_id': [1, 8, 2, 24, 10, 25, 26, 11, 14, ...","{'credit_id': ['52fe44bfc3a36847f80a7cd1', '52...",8844
2,"{'cast_id': [2, 3, 4, 5, 6, 9, 10], 'character...","{'credit_id': ['52fe466a9251416c75077a89', '52...",15602
3,"{'cast_id': [1, 2, 3, 4, 5, 6, 8, 10, 20, 21],...","{'credit_id': ['52fe44779251416c91011acb', '52...",31357
4,"{'cast_id': [1, 2, 3, 4, 13, 14, 15, 16, 17, 1...","{'credit_id': ['52fe44959251416c75039ed7', '52...",11862
...,...,...,...
45471,"{'cast_id': [0, 1, 2], 'character': ['', '', '...","{'credit_id': ['5894a97d925141426c00818c', '58...",439050
45472,"{'cast_id': [1002, 1008, 1007, 1005, 1015, 100...","{'credit_id': ['52fe4af1c3a36847f81e9b15', '52...",111109
45473,"{'cast_id': [6, 7, 8, 10, 11, 12, 13, 9, 14, 1...","{'credit_id': ['52fe4776c3a368484e0c8387', '52...",67758
45474,"{'cast_id': [2, 3, 4, 5, 6], 'character': ['',...","{'credit_id': ['533bccebc3a36844cf0011a7', '58...",227506
45475,0,"{'credit_id': ['593e676c92514105b702e68e'], 'd...",461257

In [43]:
list_df = []
for ld in df_credits['cast']:
    if type(ld) == dict:
        df_temp = pd.DataFrame(ld)
        list_df.append(df_temp)
        
df_cast = pd.concat(list_df, ignore_index=True)

In [44]:
list_df = []
for ld in df_credits['crew']:
    if type(ld) == dict:
        df_temp = pd.DataFrame(ld)
        list_df.append(df_temp)
        
df_crew = pd.concat(list_df, ignore_index=True)

***

AJUSTE DE LA BASE DE DATOS PARA LA API

In [91]:
df_movies.drop(['belongs_to_collection','genres','original_language','overview','production_companies',
                'production_countries','runtime','spoken_languages','tagline',],axis=1,inplace=True)

In [92]:
# Crear nueva columna con el día de la semana en formato de texto
df_movies['day'] = df_movies['release_date'].dt.strftime("%A")

In [138]:
df_movies['release_month'] = df_movies['release_date'].dt.month

In [126]:
# Establesco la columna id como indice antes cambiandole el nombre a 'IdMovie'
columna_id = df_credits['id']
df_credits.drop('id',inplace=True,axis=1)
df_credits.insert(0, 'IdMovie', columna_id)
df_credits = df_credits.sort_values('IdMovie')
df_credits = df_credits.set_index('IdMovie')

In [127]:
df_movies = pd.merge(df_movies, df_credits, on='IdMovie')

In [128]:
def name_actor(dicc):
    if type(dicc) == dict: 
        #print(dicc['name'])
        lst = dicc['name']
        return lst
df_movies['cast'] = df_movies['cast'].apply(name_actor)

In [130]:
def name_actor(dicc):
    if type(dicc) == dict:
        lst_temp = []
        for index,job in enumerate(dicc['job']):
            if job == 'Director':
                lst_temp.append(dicc['name'][index])
        return lst_temp
    else:
        return 'no director'
df_movies['crew'] = df_movies['crew'].apply(name_actor)

In [135]:
df_movies.rename(columns={'cast': 'actor','crew':'director'},inplace=True)

In [139]:
df_movies.head(2)

,budget,popularity,release_date,revenue,status,title,vote_average,vote_count,release_year,return,day,actor,director,release_month
IdMovie,,,,,,,,,,,,,,
2,0.0,3.860491,1988-10-21,0.0,Released,Ariel,7.1,44.0,1988,0.0,Friday,"[Turo Pajala, Susanna Haavisto, Matti Pellonpä...",[Aki Kaurismäki],10
3,0.0,2.292110,1986-10-16,0.0,Released,Shadows in Paradise,7.1,35.0,1986,0.0,Thursday,"[Matti Pellonpää, Kati Outinen, Sakari Kuosman...",[Aki Kaurismäki],10

In [117]:
df_movies.drop(['cast','crew'],inplace=True,axis=1)

In [140]:
df_movies.to_csv('api.csv', index=False)

In [141]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45943 entries, 2 to 469172
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   budget         45943 non-null  float64
 1   popularity     45943 non-null  float64
 2   release_date   45943 non-null  datetime64[ns]
 3   revenue        45943 non-null  float64
 4   status         45863 non-null  object
 5   title          45943 non-null  object
 6   vote_average   45943 non-null  float64
 7   vote_count     45943 non-null  float64
 8   release_year   45943 non-null  int64
 9   return         45943 non-null  float64
 10  day            45943 non-null  object
 11  actor          43559 non-null  object
 12  director       45943 non-null  object
 13  release_month  45943 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(5)
memory usage: 5.3+ MB